.home-page-start-button {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1.5rem;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: var(--color-primary);
}

.home-page-start-button:hover {
  background-color: var(--color-teacher-secondary-hover);
}

.home-page {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
}
