.confetti-button {
  bottom: 20%;
  font-size: 1.6rem;
  letter-spacing: 3px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
  padding: 20px 30px;
  width: 70%;
  margin-top: 100px;
}

.confetti-button--correct {
  background-color: hsl(151, 67%, 33%);
}

.confetti-button--incorrect {
  background-color: rgb(225, 7, 7);
}

.confetti-button:hover {
  color: aquamarine;
}

button:focus {
  outline: none;
}
