/* ========== CSS for all files in folder ========== */
/* ========== (CollectionsList, CommunityList, QuestionsList) ========== */

.question-option-button-stars--true {
  padding: 0 1rem;
  color: black;
}
.question-option-button-stars--false {
  padding: 0 1rem;
  color: white;
}

.questions-list-panel {
  height: 100%;
  overflow: hidden;
}

.questions-list {
  height: 50%;
}
