/* ============= game screens ============= */

.game-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-teacher-primary);
  align-items: center;
}

.game-screen-header {
  width: 100%;
  display: flex;
  background-color: var(--color-teacher-primary);
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}

.game-screen-main {
  /* width: 86%; */
  width: 97%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-teacher-primary);
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.game-screen-footer {
  width: 100%;
  display: flex;
  background-color: var(--color-teacher-primary);
  justify-content: center;
  align-items: center;
}

.non-footer-button {
  border-radius: 3rem;
  border-style: none;
  padding: 1rem 1.5rem;
  margin-bottom: 35px;
  background-color: var(--color-teacher-secondary);
  width: 40%;
  font-size: 1.4rem;
  color: inherit;
  margin: 0 15px;
}

.check-circle {
  background-color: var(--color-teacher-secondary--light);
  padding: 00.3rem;
  border-radius: 50%;
}

.check-circle--correct {
  background-color: var(--color-feedback-correct);
}

.MCQResponse {
  background-color: var(--color-teacher-secondary--light);
  width: 50%;
  min-height: 60px;
  border-radius: 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
}

.MCQResponse--correct {
  background-color: var(--color-feedback-correct);
}

.select-question-button {
  background-color: var(--color-teacher-primary);
  width: 40%;
}

.select-question-button:hover {
  background-color: var(--color-teacher-secondary);
}

.players-connected-list-item {
  list-style: none;
}

.progress-bar {
  width: 60%;
  height: 35px;
  padding: 5px;
  background: white;
  border-radius: 10px;
}

.progress {
  width: 1%;
  height: 100%;
  background: #50c89c;
  border-radius: 5px;
}

@keyframes fill {
  0% {
    width: 100%;
  }

  100% {
    width: 1%;
  }
}

.num {
  background-color: var(--color-teacher-secondary-hover);
  padding: 4px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  text-justify: center;
}

.stats-panel {
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 30px;
}

.stats-icon {
  font-size: 60px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.stats-bar {
  width: 25%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-icon-spaceholder {
  width: 44px;
}

.question-options-grouped {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.question-option-button {
  padding: 0.2 rem;
  margin: none;
  width: auto;
  font-size: 2rem;
  color: white;
}

.paragraph--bold {
  font-weight: 600;
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.paragraph--left {
  text-align: left;
  margin: 10px 10px 5px 10px;
  width: 100%;
}

.feedback-icon--small {
  font-size: 4rem;
}

.answers {
  background-color: var(--color-teacher-secondary);
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  margin: 0;
  width: 80%;
}

.correct {
  background-color: var(--color-feedback-correct);
  height: 100%;
  /* width: 25%; */
}

.correct-screen {
  background-color: var(--color-feedback-correct);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.incorrect {
  background-color: var(--color-feedback-incorrect);
  height: 100%;
}

.incorrect-screen {
  background-color: var(--color-feedback-incorrect);
}

.class-closed {
  padding-top: 15%;
  padding-bottom: 15%;
  margin-bottom: 25%;
}

.flex-row {
  flex-direction: row;
}

.input-label--bold {
  font-weight: 600;
}

.home-icon {
  font-size: 8rem;
  margin: 0;
  padding: 0;
}

.feedback-icon {
  font-size: 18rem;
}

.tick-icon {
  font-size: 20rem;
}

/* ============= info text ============= */

.info {
  background-color: var(--color-teacher-secondary);
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  margin: 0;
  width: 100%;
}

.info--bold {
  background-color: var(--color-teacher-secondary);
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  font-weight: 700;
  margin: 0;
  width: 100%;
}
