/* grouped-elements
button--primary
home-page-button
button--primary */

.home-page-button {
  font-size: 2.5rem;
  padding: 2rem;
  width: 90%;
  border-radius: 10px;
}

.home-page-button:hover {
  background-color: var(--color-teacher-secondary-hover);
}
