/* 
grouped-elements INDEX
button--primary DONE
home-page-button DONE
*/

.home-page-button {
  font-size: 2.5rem;
  padding: 2rem;
  width: 90%;
  border-radius: 10px;
}

.home-page-button:hover {
  background-color: var(--color-teacher-secondary-hover);
}

.button--primary {
  background-color: var(--color-primary);
  padding: 1rem, 1.5rem;
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
}
