/* menu-panel
dropdown-menu
menu-panel__list
menu-panel__list-item
dropdown-item
settings-button
dropdown__link
material-symbols-outlined
menu-panel
themeMenu
settings-button */

/* menu */

.menu-panel {
  color: var(--color-border);
  background-color: var(--color-primary);
  margin-bottom: 2rem;
  align-self: flex-end;
  border-radius: 0 0 0 1rem;
  position: fixed;
  margin-top: 100px;
}

.dropdown-menu {
  list-style: none;
  padding: 0 3rem 1.8rem 0.5rem;
  margin: 0;
}

.dropdown-item {
  color: var(--color-border);
}

.dropdown__link {
  color: var(--color-border);
  padding: 0;
  margin: 0.5rem;
  width: auto;
  background-color: transparent;
  font-size: 1.6rem;
}

.dropdown__link:hover {
  border: none;
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.settings-panel {
  width: 100%;
}

.password-reset-form {
  width: 100%;
}

.menu-panel__list-item {
  color: var(--color-border);
}

.menu-panel__list-item:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.close-menu-button-style {
  font-size: 3rem;
  color: var(--color-headings);
  margin-right: 1rem;
  cursor: pointer;
}

.themeMenu {
  margin-right: 140px;
  margin-top: 100px;
  border-radius: 0 0 1rem 1rem;
}
