/* grouped-elements
flex-row
input-field
search-input
material-symbols-outlined
nav-icon
logout-button-style
search-button */

.search-input {
  width: 70%;
}

.search-button {
  width: auto;
}

.nav-icon {
  margin: 1rem;
}
