/* 
grouped-elements INDEX
flex-row INDEX
input-field DONE
search-input DONE
material-symbols-outlined
nav-icon DONE
** logout-button-style NOT FOUND
search-button DONE
 */

.search-input {
  width: 70%;
}

.search-button {
  width: auto;
}

.nav-icon {
  margin: 1rem;
}

.input-field {
  background-color: var(--color-teacher-secondary);
  padding: 1.5rem 1.5rem;
  border-radius: 1.3rem;
  margin: 0;
  border-style: none;
  color: white;
  font-size: inherit;
}
