/* spinner-container
dot
dot1
dot2
dot3
dot-container */

.spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;

  /*   -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite; */
}

.dot1 {
  animation: flash 1s infinite;
}

.dot2 {
  /* -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s; */
  /* margin: 0 20px; */
  animation: flash 1s infinite;
  animation-delay: 0.333333333333s;
}

.dot3 {
  /* -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s; */
  animation: flash 1s infinite;
  animation-delay: 0.666666666666s;
}

@keyframes flash {
  0% {
    width: 0px;
    height: 0px;
  }

  50% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 1%;
    height: 1%;
  }

  /* from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  } */
}

.dot-container {
  width: 30px;
  height: 30px;
  margin: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
