/* =========== root colours =========== */

:root {
  --color-teacher-primary: hsl(209, 58%, 39%);
  --color-teacher-secondary: hsl(209, 58%, 59%);
  --color-teacher-secondary--light: hsl(209, 58%, 69%);
  --color-teacher-secondary-hover: hsl(209, 58%, 54%);
  --color-student-primary: #d30c7b;
  --color-student-secondary: hsl(327, 89%, 64%);
  --color-student-secondary-hover: hsl(327, 89%, 54%);
  --color-home-primary: #ffb100;
  --color-home-secondary: hsl(42, 100%, 70%);
  --color-home-secondary-hover: hsl(42, 100%, 60%);
  --color-feedback-correct: #21a179;
  --color-feedback-incorrect: hsl(0, 73%, 55%);
}

:root {
  --color-primary: hsl(209, 58%, 59%);
  --color-primary-hover: hsl(209, 58%, 56%);
  --color-secondary: #307dc4;
  --color-headings: hsl(209, 58%, 39%);
  --color-headings-hover: hsl(209, 58%, 29%);
  --color-border: hsl(209, 58%, 69%);
}

:root.clasic {
  --color-primary: #d66ba0;
  --color-primary-hover: #c25f91;
  --color-secondary: #e5a9a9;
  --color-headings: #af4d98;
  --color-headings-hover: #9b4386;
  --color-border: #e5cb89;
}

:root.green {
  --color-primary: hsl(172, 25%, 40%);
  --color-primary-hover: hsl(172, 25%, 30%);
  --color-secondary: #70a9a1;
  --color-accent: #5edad8;
  --color-headings: #1f363d;
  --color-headings-hover: hsl(194, 33%, 10%);
  --color-body: #;
  --color-body-darker: #;
  --color-border: #7ab5a7;
  --border-radius: 30px;
}

:root.earth {
  --color-primary: #76ba99;
  --color-primary-hover: hsl(151, 33%, 50%);
  --color-secondary: #ca955c;
  --color-headings: #876445;
  --color-headings-hover: hsl(28, 32%, 30%);
  --color-border: #eddfb3;
}

:root.contrast {
  --color-primary: #319da0;
  --color-primary-hover: hsl(182, 53%, 31%);
  --color-secondary: #ffd39a;
  --color-headings: #781c68;
  --color-headings-hover: hsl(310, 62%, 19%);
  --color-border: #49b0b4;
}

:root.pink {
  --color-primary: #f94892;
  --color-primary-hover: hsl(335, 94%, 53%);
  --color-secondary: #ffa1c9;
  --color-headings: #e60965;
  --color-headings-hover: hsl(335, 92%, 37%);
  --color-border: #f576b4;
}

/* =========== element classes =========== */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 1.6rem;
  margin: 0;
  color: white;
}

html {
  font-size: 62.5%;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* my styles */
  background-color: rgb(246, 246, 133);
  padding: 0;
  text-align: center;
  height: 100%;
  background: linear-gradient(45deg, #094cfa, #4d0ee4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* =========== root =========== */

.root {
  height: 100%;
  background-color: rgb(215, 157, 87);
  padding: 0;
  margin: 0;
}

/* Headings */

h1,
h2,
h3 {
  /* color: var(--color-headings); */
  color: white;
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
}

/* Paragraphs */

p {
  margin-top: 0;
}

/* Links */

a {
  font-size: 1.6rem;
  text-decoration: none;
  margin-top: 2rem;
  color: white;
}

a:hover {
  font-size: 1.7rem;
  color: hsl(0, 0%, 90%);
}

/* Forms */

form {
  width: 90%;
  padding: 1rem 0;
  background-color: transparent;
  border-radius: 1rem;
}

label {
  margin-top: 1rem;
  color: white;
}

/* Input fields */

input {
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  margin: 10px 0;
  border-style: none;
  border-bottom: 1px solid var(--color-headings);
  background-color: transparent;
  font-size: 1.4rem;
  outline: none;
  color: white;
}

input::selection {
  background-color: var(--color-primary);
  -webkit-background-clip: text;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

/* ==================================================================== */
/* ==================================================================== */

/* =========== input =========== */

/* TODO:  */
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: left;
  width: 100%;
  padding-top: 1rem;
}

/* =========== buttons =========== */

.footer-button {
  border-radius: 3rem;
  border-style: none;
  padding: 1rem 1.5rem;
  margin: 20px 15px;
  margin-bottom: 35px;
  background-color: var(--color-teacher-secondary);
  width: 40%;
  font-size: 1.4rem;
  color: inherit;
}

.footer-button:hover {
  background-color: var(--color-teacher-secondary-hover);
}

.form-button {
  position: absolute;
  bottom: 0px;
  margin-top: 15px;
  margin-bottom: 40px;
}

/* =========== icons and title =========== */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  padding: 1rem;
  margin: 0;
  background-color: transparent;
  color: white;
  border-style: none;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

.button-icon {
  width: auto;
}
.button-icon:hover {
  color: var(--color-teacher-secondary);
}

.app-title {
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

/* =========== forms =========== */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  margin: 0;
  text-align: left;
}

.form--spread {
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
}

.input-field {
  background-color: var(--color-teacher-secondary);
  padding: 1.5rem 1.5rem;
  border-radius: 1.3rem;
  margin: 0;
  border-style: none;
  color: white;
  font-size: inherit;
}

.input-label {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  margin-left: 0.3rem;
}

input::selection {
  background-color: var(--color-teacher-secondary-hover);
  -webkit-background-clip: text;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

/* ========== General Flex Settings ========== */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container--homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* =========== flex modifiers =========== */

.flex--spaced {
  justify-content: space-between;
}

.flex--grouped-centre {
  /* this is the default value */
}

.flex--space-around {
  justify-content: space-around;
}

.flex--from-top {
  justify-content: flex-start;
}

.flex-row {
  flex-direction: row;
}

/* =========== container modifiers =========== */

.grouped-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  justify-content: center;
  gap: 10px;
  align-items: center;
}

/* ========== Page-level Styles ========== */

.background {
  background-color: var(--color-secondary);
  min-height: 100%;
  display: flex;
  margin: 0;
}

.main-page-content {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.header {
  width: 100%;
  background-color: var(--color-secondary);
  flex-shrink: 0;
}

/* ========== Footer ========== */

.footer {
  background-color: transparent;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}

/* ========== Forms ========== */

.form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-elements {
  width: 100%;
}

.settings-elements {
  width: 100%;
  margin-top: 350px;
}

.settings-form-card {
  background-color: var(--color-teacher-secondary--light);
  width: 90%;
  border-radius: 10px;
}

/* ========== Buttons ========== */

button {
  border-radius: 3rem;
  border-style: none;
  padding: 0.6rem 1.5rem;
  margin: 10px;
  color: white;
  width: 40%;
  font-size: 1.4rem;
}

.list__item-delete-button {
  align-self: flex-end;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-headings);
  padding: 0;
}

.list__item-delete-button:hover {
  border-top: none;
  /* flex-shrink: 0; */
}

.button--primary {
  background-color: var(--color-primary);
  padding: 1rem, 1.5rem;
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
}

.transparent-button {
  cursor: pointer;
  font-size: 3rem;
  background-color: transparent;
  color: var(--color-headings-hover);
  padding: 0;
}

.transparent-button:hover {
  border: none;
  font-size: 3.5rem;
}

/* ========== lists ========== */

.list {
  color: var(--color-headings);
  display: flex;
  gap: 30px;
  width: 320px;
  padding: 0 1.5rem;
  overflow: scroll;
  flex-direction: column;

  height: fit-content;
  justify-content: flex-start;
  margin: 0;
  margin-top: 2rem;
  flex-grow: 1;
}

.list__item {
  background-color: var(--color-border);
  flex-direction: column;
  width: 100%;
  min-height: 70px;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-shrink: 0;
  overflow: scroll;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.list__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  margin: 0;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  resize: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  flex-shrink: 0;
  width: calc(100% - 2rem);
  max-height: 200px;
  color: white;
}

.list__item-text-readonly {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  word-wrap: break-word;
  text-overflow: inherit;
}

.list-item__text--form {
  width: 100%;
  background-color: var(--color-teacher-secondary);
  border-radius: 10px;
  padding: 1.5rem 2rem;
}
